### Python เบื้องต้น

In [ ]:
name = 'kobkiat'
name = "kobkiat"
print(name)

In [ ]:
a = 9
A = 4.5

In [ ]:
a

In [ ]:
print(a)

In [ ]:
A

เครื่องหมายคำนวณ (Operators)
+ - * / 
%   หารเอาเศษ
//  หารปัดเศษ
**  ยกกำลัง

In [ ]:
a/2

In [ ]:
b = a / 2
b

In [ ]:
5 // 2

In [ ]:
5 % 2

In [ ]:
2 ** 3

### Indent

In [ ]:
h = 30
w = 5
r = h / w
r

In [ ]:
    h = 30
    w = 5
    r = h / w
    r

### Comment

In [ ]:
h = 30.5    # new h
# h = 30   

w = 5
r = h / w
r

### Variables

In [ ]:
ราคา = 100
สุทธิ = ราคา / 2
print(สุทธิ)

In [ ]:
2r = 9

In [ ]:
_2r = 9

In [ ]:
pass = 50

In [ ]:
pass_ = 50

### Data types

In [ ]:
a = 3
type(a)

In [ ]:
b = 2.0
type(b)

In [ ]:
c = '5'     # หรือ "5"
type(c)

In [ ]:
a + c

In [ ]:
d = eval(c)
type(d)

In [ ]:
d

In [ ]:
a + d

In [ ]:
name = 'kobkiat'
sur = ' sb'
name + sur

### Condition

>  <   >=   <=   !=

In [ ]:
a = 5
b = 3
c = 8

In [ ]:
a > b

In [ ]:
a < b

In [ ]:
a > b and a > c

In [ ]:
a > b or a > c

### if

In [ ]:
price = 110
if price >= 100:
    print('Discount 5%')
    print(price * 0.05)
    
print('done')

In [ ]:
price = 100

if price >= 100:
    print('Discount 5%') 
    print(price * 0.05)
else:
    print('Discount 2%') 
    print(price * 0.02)
print('Bye')

In [ ]:
temp = 32
if temp < 30 :
    print('Fan off')
elif temp >=30 and temp < 40:
    print('Small Fan')
else:
    print('Turn on a Big Fan')

### Iteration (Loop) : for

In [ ]:
for count in range(3):
    print("test for")
    print(count)
print("done")

In [ ]:
for count in range(4,6):
    print("test for")
    print(count)
print("done")

#print
print('data = ',a)

#### While

In [ ]:
count = 0
while count < 3:
    print("halo ja!")
    count = count + 1
    
print('bye')

### Print

In [ ]:
a = 2
sc = 5.678987
name = "kobkiat"
print("Hi", name, "Score = ", sc)

In [ ]:
print("Hi, %s a = %d b= %.2f" % (name, a, sc))

In [ ]:
print('Hi {} {:.1f}' . format(name, b))

In [ ]:
print('data = {}'.format(b))

In [ ]:
print('data = {:,}'.format(b))

In [ ]:
print('data = {:,.2f}'.format(b))

In [ ]:
print('data = ', round(b, 2))

### Function

In [ ]:
def area(length):
    area = length * length
    return area 


b = area(4) 
print('Area = %d' % (b)) 
print('Area = ', b)

In [ ]:
area(5)

In [ ]:
area(4.5)

## Container

### List

In [ ]:
person = [35, 52, 18.1, 195, 155]

In [ ]:
type(person)

In [ ]:
person[0]

In [ ]:
age = person[0]
age

In [ ]:
person[1]

In [ ]:
person[-1]

In [ ]:
# [35, 52, 18.1, 195, 155]

person[-5]

In [ ]:
person[0:2]

In [ ]:
person[1:3]

In [ ]:
person[-3:-1]

In [ ]:
person[-3:]

In [ ]:
# [35, 52, 18.1, 195, 155]

person[2:]

In [ ]:
person[:]

In [ ]:
person[7]

In [ ]:
for k in person:
    print(k)

In [ ]:
# enumerate
for i,k in enumerate(person):
    print(i,k)

In [ ]:
data = [[50, 64, 28.3, 209, 167],
        [35, 52, 18.1, 195, 155],
        [38, 49, 21.12, 184, 134]]

In [ ]:
data[0][1]

In [ ]:
data[1][1]

### Test Mutable (changeable) Tuple and List

In [ ]:
person = [35, 52, 18.1, 195, 155]
person

In [ ]:
person.append(210)

In [ ]:
person

In [ ]:
person = (35, 52, 18.1, 195, 155)
type(person)

In [ ]:
tp.append(210)

### Dictionary

In [ ]:
person = {'age':35,'wt':52,'bmi':18.1}
type(person)

In [ ]:
a = person['age']
a

In [ ]:
w = person['wt']
w

In [ ]:
person['bmi']

In [ ]:
for k in person:
    print(k)

In [ ]:
for k in person.values():
    print(k)

## Library

การจัดการ Library
- Anaconda Navigator
-pip (Package Installer for Python): 
https://pip.pypa.io/en/stable/
- conda: https://docs.conda.io/projects/conda/en/latest/commands.html

ตรวจสอบว่าติดตั้งแล้วหรือยัง

In [ ]:
!pip show pandas

In [ ]:
!conda list pandas

In [ ]:
!pip show matplotlib

In [ ]:
!pip show mlxtend

### Pandas
read CSV

In [ ]:
# import pandas

In [ ]:
# pandas.read_csv('data/advertising.csv')

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data/advertising.csv')

In [ ]:
df

### plot

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(df.TV, df.Sales)
plt.show()

In [ ]:
pip --version

### pip  (Package Installer for Python)
https://pip.pypa.io/en/stable/

In [ ]:
pip install numpy

In [ ]:
!pip show mtcnn

In [ ]:
!pip uninstall mtcnn

### conda

In [ ]:
conda list pandas

In [ ]:
!conda install numpy

In [ ]:
# pip install mtcnn
!pip uninstall mtcnn

In [ ]:
!conda info

# https://conda-forge.org/docs/user/introduction.html

# https://conda.anaconda.org/conda-forge/

## Containers

In [ ]:
data = [2,1,3,4,5,6,3]
data

In [ ]:
lst = ['kobkiat',2,5,8.5]
lst

In [ ]:
type(data)

In [ ]:
type(lst)

In [ ]:
data.append(20)
data

In [ ]:
avg = sum(data) / len(data)
print('Average (mean) = ', avg)
# print('Average (mean) = ', round(avg,3))

In [ ]:
X = [[6, 7, 4],
     [2, 8, 3]]

In [ ]:
X[0][0]

In [ ]:
X[0][1]

In [ ]:
X[1][2]

In [ ]:
X

In [ ]:
X[0:1]

In [ ]:
X[1:2]

In [ ]:
tp1 = (2,1,3,4,5,6,3)
tp1 = 2,1,3,4,5,6,3
tp1

In [ ]:
type(tp1)

In [ ]:
tp1[1]
tp1[-1]

In [ ]:
# now data = [2,1,3,4,5,6,3,20]
data[0]

In [ ]:
data[2]

In [ ]:
data[-1]

In [ ]:
data[-2]

In [ ]:
data[0:2]

In [ ]:
data[3:6]

In [ ]:
data[1:-1]

In [ ]:
data[:]

In [ ]:
data[:4]

In [ ]:
data[3:]

In [ ]:
for k in data:
    b = k * 2
    print(b)

In [ ]:
for k in data[:3]:          # data = [2, 1, 3, 4, 5, 6, 3, 20]
    b = k * 2
    print(b)

In [ ]:
# enumerate
for i,k in enumerate(data):
    print(i,k)

## Dictionary

In [ ]:
data = {'Name':'Kobkiat','Age':25,'Score':35}
data
type(data)

In [ ]:
data['Name']

In [ ]:
data['Score']

In [ ]:
data['Age']

In [ ]:
datas = [{'Name':'Kobkiat','Age':25,'Score':35},
         {'Name':'ณิแนน','Age':22,'Score':26},
         {'Name':'จอห์น','Age':25,'Score':32},
         {'Name':'Tim','Age':35,'Score':29},
         {'Name':'Steal','Age':32,'Score':27}]
datas

In [ ]:
type(datas)

In [ ]:
datas[0]

In [ ]:
datas[1]

In [ ]:
datas[-1]

In [ ]:
datas[0:2]

In [ ]:
datas[0]['Name']

In [ ]:
datas[0]['Score']

In [ ]:
datas[0]['Age']

In [ ]:
datas[1]['Name']

In [ ]:
for k in datas:
#     print(k['Name'],k['Score'])
    print('{:8} {}' . format(k['Name'],k['Score']) )

## Numpy

In [ ]:
import numpy as np
data = [2, 1, 3, 4, 5, 6, 3, 20]
np.mean(data)

In [ ]:
np.mean([2, 1, 3, 4, 5, 6, 3, 20])

In [ ]:
np.std(data)

In [ ]:
np.max(data)

In [ ]:
np.min(data)

In [ ]:
npa = np.array([data])
type(npa)

In [ ]:
X = [[6, 7, 4, 5, 1],
     [2, 8, 3, 6, 4],
     [1, 3, 2, 9, 6],
     [8, 9, 1, 7, 2]]

In [ ]:
npx = np.array(X)
npx

In [ ]:
npx.shape

In [ ]:
npx[0,2]

In [ ]:
npx[1,2]

In [ ]:
npx[:,:]

In [ ]:
X = npx[:,:-1]
X

In [ ]:
y = npx[:,-1:]
y

In [ ]:
npx[:1,:]

In [ ]:
npx[2:3,:]

In [ ]:
npx[-1:,:]

In [ ]:
npx[:,:1]

In [ ]:
npx[:,-2:]

In [ ]:
npx[:,3:]

In [ ]:
npx[: , :]

In [ ]:
npx > 5

In [ ]:
npx[npx > 5]

In [ ]:
npx.T

In [ ]:
npx.reshape(1,-1)

In [ ]:
npx.reshape(-1,1)

## Random and unique

In [ ]:
np.random.rand(4)

In [ ]:
np.random.rand(4) * 10

In [ ]:
np.random.rand(4) * 30 + 20

In [ ]:
np.random.rand(3, 2)

In [ ]:
mu, sigma = 3.2, 0.5 
s = np.random.normal(mu, sigma, 1000)

In [ ]:
import matplotlib.pyplot as plt
plt.hist(s, bins=40)
plt.show()