# Train test split

In [1]:
import pandas as pd

## Load dataset

In [2]:
df = pd.read_csv('data/simple_loan.csv')
df.head()

     age  employed own_house credit target
0  young     False         n   fair     no
1  young     False         n   good     no
2  young      True         n   good    yes
3  young      True         y   fair    yes
4  young     False         n   fair     no

In [3]:
df.isnull().sum()

age          0
employed     0
own_house    0
credit       0
target       0
dtype: int64

In [4]:
df = df[:10]
df

      age  employed own_house     credit target
0   young     False         n       fair     no
1   young     False         n       good     no
2   young      True         n       good    yes
3   young      True         y       fair    yes
4   young     False         n       fair     no
5  middle     False         n       fair     no
6  middle     False         n       good     no
7  middle      True         y       good    yes
8  middle     False         y  excellent    yes
9  middle     False         y  excellent    yes

In [5]:
df.columns

Index(['age', 'employed', 'own_house', 'credit', 'target'], dtype='object')

In [6]:
X = df.drop('target', axis=1)
X

      age  employed own_house     credit
0   young     False         n       fair
1   young     False         n       good
2   young      True         n       good
3   young      True         y       fair
4   young     False         n       fair
5  middle     False         n       fair
6  middle     False         n       good
7  middle      True         y       good
8  middle     False         y  excellent
9  middle     False         y  excellent

In [7]:
feature_columns = ['age','employed','own_house','credit']
X = df[feature_columns]

# X = df[['age','employed','own_house','credit']]
X

      age  employed own_house     credit
0   young     False         n       fair
1   young     False         n       good
2   young      True         n       good
3   young      True         y       fair
4   young     False         n       fair
5  middle     False         n       fair
6  middle     False         n       good
7  middle      True         y       good
8  middle     False         y  excellent
9  middle     False         y  excellent

In [8]:
y = df.target
y

0     no
1     no
2    yes
3    yes
4     no
5     no
6     no
7    yes
8    yes
9    yes
Name: target, dtype: object

## Split

In [9]:
from sklearn.model_selection import train_test_split
# X_train,X_test, y_train,y_test = train_test_split(X, y, test_size=0.3) 
X_train,X_test, y_train,y_test = train_test_split(X, y, test_size=0.3, random_state=2)

In [10]:
X_train.shape , X_test.shape

((7, 4), (3, 4))

## X_train and y_train

In [11]:
X_train

      age  employed own_house     credit
0   young     False         n       fair
7  middle      True         y       good
2   young      True         n       good
3   young      True         y       fair
6  middle     False         n       good
9  middle     False         y  excellent
8  middle     False         y  excellent

In [12]:
y_train

0     no
7    yes
2    yes
3    yes
6     no
9    yes
8    yes
Name: target, dtype: object

In [13]:
df.iloc[[1, 2, 3]]

     age  employed own_house credit target
1  young     False         n   good     no
2  young      True         n   good    yes
3  young      True         y   fair    yes

## X_test and y_test

In [14]:
X_test

      age  employed own_house credit
4   young     False         n   fair
1   young     False         n   good
5  middle     False         n   fair

In [15]:
y_test

4    no
1    no
5    no
Name: target, dtype: object

In [16]:
df.iloc[[2, 9, 6]]

      age  employed own_house     credit target
2   young      True         n       good    yes
9  middle     False         y  excellent    yes
6  middle     False         n       good     no